@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Sanchez:400italic,400);
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #487b86;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2d4d54;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #eeebe4;
  color: #313131;
  font-family: "Questrial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Questrial", sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #487b86;
  text-decoration: none; }
  a:hover {
    color: #2d4d54; }
  a:active, a:focus {
    color: #2d4d54;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #575757;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #717171;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Questrial", sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Questrial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #487b86;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(63, 108, 117, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

h1 {
  font-family: "Sanchez", serif;
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: .5em; }
  @media screen and (min-width: 40em) {
    h1 {
      font-size: 2.6em; } }

h2 {
  font-family: "Sanchez", serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 1.1em; }
  @media screen and (min-width: 40em) {
    h2 {
      font-size: 1.3em; } }

h3 {
  font-family: "Sanchez", serif;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: .4em; }

p {
  font-family: "Questrial", sans-serif;
  line-height: 1.5em;
  font-size: 1.05em;
  margin-bottom: 1.5em; }

hr {
  width: 3em; }

code {
  white-space: nowrap;
  background: #F7F7F7;
  border: 1px solid #E0E0E0;
  border-radius: 4.5px;
  padding: .1em .4em;
  font-size: .7em;
  font-style: normal; }

body {
  margin: 0;
  padding: 0; }

section {
  display: block;
  width: 100%; }
  section:after {
    content: "";
    display: table;
    clear: both; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.809em; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

header h1 {
  overflow: hidden;
  background-image: url(../img/forma-header-blue-orange.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 5.25em;
  text-align: center; }
  header h1:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }
  header h1 span {
    visibility: hidden; }

.notice {
  display: none; }

#map_canvas {
  width: 100%;
  height: 400px; }

#map_canvas img {
  max-width: none; }

#map_canvas .content {
  padding: .7em .5em 1em .5em; }

#map_canvas .firstHeading {
  font-family: "Sanchez", serif;
  font-size: 1.4em;
  margin-bottom: .4em; }

#map_canvas .bodyContent p {
  font-family: "Questrial", sans-serif;
  font-size: 1em;
  margin-bottom: 0; }

#map_canvas .bodyContent p:last-of-type {
  border-top: 1px solid silver;
  margin-top: .5em;
  padding-top: .3em; }

/*# sourceMappingURL=style.css.map */
