body {
	margin: 0;
	padding: 0;
	//@include highlight-breakpoint;
}

#navigation {
	position: fixed;
	width: 2.75em;
	height: 100%;
	background-color: $te-papa-green;
	z-index: 5000;
}
#content {
	position: relative;
	//width: 100%;
	//margin-left: 2.75em;
}

section {
	display: block;
	width: 100%;
	@include clearfix;
	padding: $gutter*1.5 $gutter;

	// &.hero,
	&.image-slider {
		padding: $gutter*1.5 $gutter*2 $gutter;	
	}

	&.welcome {
		//padding: $gutter $gutter $gutter*1.5;	
	}

}

.container {
	@include outer-container;
}

header {
	h1 {
		span {
			@extend .visuallyhidden;
		}
		@include better-retina-image(forma-header-blue-pink, contain);	  	
		background-repeat: no-repeat;
		width: 100%;
		height: 2em;

		@include media($mobile-large-screen-up) {
			height:3.5em;
		}
		@include media($medium-screen-up) {
			height:3em;
		}
		@include media($large-screen-up) {
			height:4em;
			@include span-columns(8);
			//@include shift(2);
		}
	}
	h2 {
		display: block;
		clear:both;
	}
}

.welcome {
	.hours,
	.address {
		@include span-columns(4);
		@include media($tablet-small-screen-up) {
			@include span-columns(3);
		}
		@include media($large-screen-up) {
			@include span-columns(3);
		}
	}

	.hours {
		@include media($large-screen-up) {
			@include shift(1);
		}
	}

	.address {
		//margin-top: 2.2em;
		@include media($tablet-small-screen-up) {
			@include omega;
			margin-top: 0;
		}

		span[itemprop="streetAddress"] {
			display: block;
		}
		span[itemprop="addressLocality"],
		span[itemprop="addressRegion"] {
			display: inline-block;
		}
		span[itemprop="postalCode"] {
			display: block;
		}
		span[itemprop="telephone"] {
			
		}
	}
	.attn {
		@include span-columns(4);
		@include media($large-screen-up) {
			@include span-columns(10);
			@include shift(1);
		}
	}
}

.image-slider {
	background-color: $bismark;

	.slick-list {
		padding: .5em 0;
	}

	.slick-slide {
		padding: 0 .5em;
		img {
			@include card(1);
		}
	}
}

.classes-equip {
	background-color: $westar;
	.classes,
	.equip {
		@include span-columns(4);
		@include media($tablet-small-screen-up) {
			@include span-columns(3);
		}
	}

	.equip {
		@include media($tablet-small-screen-up) {
			@include omega;
		}
	}
}

.yarn {
	.left-col,
	.right-col {
		@include span-columns(4);
		@include media($tablet-small-screen-up) {
			@include span-columns(3);
		}
	}

	.right-col {
		@include media($tablet-small-screen-up) {
			@include omega;
		}
	}	
}

.visit {
	background-color: $westar;
	.left-col {
		@include span-columns(4);
		@include media($medium-large-screen-up) {
			@include span-columns(8);
		}
	}

	.right-col {
		@include span-columns(4);
		@include media($medium-large-screen-up) {
			@include span-columns(4);
			@include omega;
		}
	}
}

.social {
	

	.address,
	.review,
	.mailChimp {
		@include span-columns(4);
	}

	.address {
		@include media($tablet-small-screen-up) {
			@include span-columns(3);		
		}
		@include media($medium-large-screen-up) {
			@include span-columns(4);		
		}
	}

	.review {
		@include media($tablet-small-screen-up) {
			@include span-columns(3);
			@include omega;		
		}
		@include media($medium-large-screen-up) {
			@include span-columns(4);		
		}
	}

	.mailChimp {
		@include media($tablet-small-screen-up) {
			@include span-columns(4);
			@include shift(1);		
		}
		@include media($medium-large-screen-up) {
			@include span-columns(4);
			@include shift(0);		
		}

		fieldset {
		background: $sunglo;
		border: 1px solid darken($sunglo,20);
		color: $white;
		}
	}

	.address {
		//margin-top: 2.2em;
		@include media($tablet-small-screen-up) {
		//	@include omega;
		//	margin-top: 0;
		}

		span[itemprop="streetAddress"] {
			display: block;
		}
		span[itemprop="addressLocality"],
		span[itemprop="addressRegion"] {
			display: inline-block;
		}
		span[itemprop="postalCode"] {
			display: block;
		}
		span[itemprop="telephone"] {
			
		}
	}
}

footer {
	background-color: $te-papa-green;
	color: $white;
	text-align: center;
	padding: $base-spacing;
}


