body {
	margin: 0;
	padding: 0;
	background-color: $pampas;
	color: $mine-shaft;
}

section {
	display: block;
	width: 100%;
	@include clearfix;
}

.container {
	@include outer-container;
	padding: $gutter;
}

header {
	h1 {
		@include hide-text;
	  	background-image: url(../img/forma-header-blue-orange.png);
	  	background-size: contain;
		background-repeat: no-repeat;

		span {
			visibility: hidden;
		}
	}
}

.notice {
	display: none;
}

.welcome {
//	background-color: $westar;
}