//Colors
$matrix 		: #b75654;
$te-papa-green  : #204246;
$sunglo			: #E56C69;
$bismark		: #487b86;

// Greys
$dove-grey		: #636363;
$mine-shaft		: #313131;
$white			: #ffffff;

// Neutrals
/// Cool
$porcelain		: #ECF0F1;
/// Warm
$westar			: #E2DFD8;
$pampas			: #eeebe4;
